name = "diner-public"
compatibility_date = "2024-01-01"
pages_build_output_dir = "./build/client"

# Bindings
[[d1_databases]]
binding = "DB"
database_name = "diner-core"
database_id = "REPLACE_WITH_PROD_DB_ID"

[[r2_buckets]]
binding = "ASSETS"
bucket_name = "diner-assets"

[[kv_namespaces]]
binding = "KV"
id = "REPLACE_WITH_PROD_KV_ID"

[observability]
enabled = true
