name = "diner-admin"
compatibility_date = "2024-01-01"
pages_build_output_dir = "./build/client"

# Bindings
[[d1_databases]]
binding = "DB"
database_name = "diner-core"
database_id = "67be05e6-6d3d-45f4-bba6-b2b7450c919f"

[[r2_buckets]]
binding = "ASSETS"
bucket_name = "diner-assets"

[[kv_namespaces]]
binding = "KV"
id = "6fdb42f00f674f9b8fbb2dab755f3279"

# Browser Rendering API
[browser]
binding = "BROWSER"

# Workers AI
[ai]
binding = "AI"

[env.production]
routes = [
  { pattern = "admin.diner-saas.com", zone_name = "diner-saas.com" }
]

# Internal service binding to Workflows
[[services]]
binding = "WORKFLOWS_SERVICE"
service = "diner-workflows"
