name = "agent-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"

# Export Durable Object class for other workers to bind to
[[migrations]]
tag = "v1"
new_classes = ["DinerAgent"]

[vars]
AI_MODEL_WHISPER = "@cf/openai/whisper"
AI_MODEL_EMBEDDING = "@cf/baai/bge-base-en-v1.5"

[[d1_databases]]
binding = "DB"
database_name = "diner-core"
database_id = "67be05e6-6d3d-45f4-bba6-b2b7450c919f"

[[kv_namespaces]]
binding = "KV"
id = "6fdb42f00f674f9b8fbb2dab755f3279"

[[r2_buckets]]
binding = "ASSETS"
bucket_name = "diner-assets"

[[queues.consumers]]
queue = "sms-inbound"

[[queues.producers]]
queue = "sms-inbound"
binding = "SMS_INBOUND_PRODUCER"

[[queues.producers]]
queue = "sms-outbound"
binding = "SMS_OUTBOUND"

[ai]
binding = "AI"

[[vectorize]]
binding = "VECTORIZE"
index_name = "diner-menu-index"
